@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.rectangle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 8px;
  border: 1px dotted black;
  padding: 16px;
  margin-bottom: 16px; /* Add spacing between the cards and the dotted line */
  align-items: start; /* Align cards to the top */
}

.card {
  padding-left: 16px; /* Add left padding to the card */
}

.card:last-child {
  padding-right: 0; /* Remove right padding from the last card in each row */
  margin-right: 0;
}

@media (max-width: 767px) {
  .card {
    padding-left: 0; /* Remove left padding on smaller screens */
  }
}



