.nav {
    padding: 25px; /* Increase the padding value to make the navbar bigger */
    /* height: 115px; */
    background: #192A56;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    display: inline;
    padding: 10px;
  }

  .nav li:not(:last-child)::after {
    content: "|";
    color: #f8f8f8;
    margin: 0 5px; /* Adjust as needed to control the spacing between | and li items */
    margin-left: 25px; 
  }
  
  .nav a {
    color: #f8f8f8;
    text-decoration: none;
  }
  
  .menu {
    padding: 20px;
    color: #f8f8f8;
    border: 2px solid #f8f8f8;
  }
  
  .title {
    color: white;
    font-size: 32px;
  }
  
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  