.interests {
    text-align: center;
    margin-top: 50px; /* Adjust as needed for spacing */
}
  
  .interests .title {
    margin-bottom: 20px; /* Adjust as needed for spacing */
  }
  
  .interests .circles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Adjust as needed for spacing */
  }
  
  .interests .circle {
    width: 181px;
    height: 74px;
    border-radius: 50%;
    background-color: #192A56;
    margin: 0 5px; /* Adjust as needed for spacing */
  }
  
  .technology {
    text-align: center;
    margin-top: 50px; /* Adjust as needed for spacing */
    
}
  
  .technology .title {
    margin-bottom: 20px; /* Adjust as needed for spacing */
  }
  
  .technology .circles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    padding-bottom: 0;
  }
  

.technology .row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adjust as needed for spacing between rows */
}

.technology .circle {
  width: 181px;
  height: 74px;
  border-radius: 50%;
  background-color: #192A56;
  margin: 0 5px; /* Adjust as needed for spacing between circles */
}

  .circle-text {
    /* Add styles for the text inside the circle */
   
    display: flex;
    font-size: 26px;
   
  }
  .circle{
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .line {
    height: 1px;
    border-top: 1px dotted black;
    margin: 10px 0;
    width: 80%;  
     
  }

  .line-wrap{
    display: flex;
    justify-content: center;

  }

  
  
